<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <p class="pt-3 mt-4 text-muted border-top">
        Проект Job4j_dreamJob, выполняемый в рамках курса Job4j
        <br>
        <a class="nav-item nav-link" th:href="@{/vacancies}"> * Вакансии</a>
        <a class="nav-item nav-link" th:href="@{/candidates}"> * Кандидаты</a>
        <a class="nav-item nav-link" th:href="@{/vacancies/create}"> * Создать вакансию</a>
        <a class="nav-item nav-link" th:href="@{/candidates/create}"> * Создать резюме</a>
        <a href="https://github.com/ShurikElabuga">Курсант Попов А.Н.</a><br>
        <a href="https://job4j.ru">Job4j</a>
    </p>
</div>